@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/CirceThin.woff") format("woff"), url("../fonts/CirceThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/CirceExtraLight.woff") format("woff"), url("../fonts/CirceExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/CirceLight.woff") format("woff"), url("../fonts/CirceLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/CirceRegular.woff") format("woff"), url("../fonts/CirceRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/CirceBold.woff") format("woff"), url("../fonts/CirceBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/CirceExtraBold.woff") format("woff"), url("../fonts/CirceExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Medium.woff") format("woff"), url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-MediumItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-ExtraBold.woff") format("woff"), url("../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Black.woff") format("woff"), url("../fonts/PlayfairDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-BlackItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Circe", sans-serif;
  line-height: 1.2em;
  z-index: 5;
}

body.active {
  position: relative;
}

body.active::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(39, 40, 43, 0.71);
  z-index: 2;
}

header {
  background: -o-radial-gradient(85.08% 38.5%, 68.31% 188.29%, #FCF2F1 18.4%, #FDF3F2 58.85%, #FAF4F7 100%), #FCFAFB;
  background: radial-gradient(68.31% 188.29% at 85.08% 38.5%, #FCF2F1 18.4%, #FDF3F2 58.85%, #FAF4F7 100%), #FCFAFB;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease, background-color 0.2s ease;
  -o-transition: color 0.2s ease, background-color 0.2s ease;
  transition: color 0.2s ease, background-color 0.2s ease;
}

svg {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

img {
  display: block;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.box {
  width: 43px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EFDFD7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  background-color: transparent;
  -webkit-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Playfair, sans-serif;
  position: relative;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: #1F1714;
}

.section__title .section__line {
  display: inline-block;
  width: 91px;
  height: 1px;
  background-color: #1F1714;
  margin: 6px 0px 0px 19px;
}

.btn {
  position: relative;
  font-weight: 700;
  text-align: center;
  border-radius: 50px;
  padding: 10px;
}

.btn-nobg {
  border: 1px solid #E8E3E3;
  background-color: transparent;
}

.btn-red {
  background: #FC4E4D;
  border: 1px solid #FC4E4D;
  -webkit-box-shadow: 0px 7px 17px rgba(252, 78, 77, 0.33);
          box-shadow: 0px 7px 17px rgba(252, 78, 77, 0.33);
}

.btn-red:hover {
  background: #18191B;
  -webkit-box-shadow: 0px 7px 17px rgba(24, 25, 27, 0.21);
          box-shadow: 0px 7px 17px rgba(24, 25, 27, 0.21);
  border-color: transparent;
}

.aside {
  max-width: 300px;
  width: 100%;
}

.aside__item {
  background: #FFFFFF;
  border: 9px solid #E1E5F6;
  padding: 30px 30px;
}

.aside__title {
  font-family: Playfair, sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2;
  margin: 0px 0px 14px 0px;
  color: #000000;
}

.aside__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside__link {
  font-size: 16px;
  color: #3F3B3B;
  position: relative;
  padding: 0px 0px 0px 10px;
}

.aside__link:hover {
  color: #FC4E4D;
}

.aside__link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3px;
  height: 3px;
  background: #FC4E4D;
}

.header__inner {
  padding: 10px 0px 0px 0px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 7px 0px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.header__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0px 0px 0px 105px;
}

.header__social .social__link:not(:last-child) {
  margin: 0px 19px 0px 0px;
}

.header__right {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__item:not(:first-child) {
  margin: 0px 0px 0px 91px;
}

.header__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item-link .purchases-icon {
  margin: 0px 0px 1px 0px;
}

.header__item .box {
  margin: 0px 15px 0px 0px;
}

.header__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item-title {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #D38F6B;
  margin: 0px 0 2px 0;
}

.header__item-subtitle {
  font-size: 17px;
  color: #1F1714;
}

.header__item-dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  left: -26px;
  right: -23px;
  padding: 23px 0px 0px 0px;
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 11;
}

.header__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10px 22px 18px;
  -webkit-box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.14);
}

.header__item-wrapper::after {
  content: '';
  position: absolute;
  right: 17px;
  top: -3px;
  width: 20px;
  height: 14px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger {
  width: 16px;
  height: 14px;
  fill: #FC4E4D;
}

.burger-btn {
  display: none;
}

.user .arrow-down {
  margin: 0px 0px 0px 4px;
}

.user__link {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.user__link + .user__link {
  margin: 18px 0px 14px 0px;
}

.user__link .arrow-right {
  margin: 0px 13px 0px 0px;
}

.purchases .arrow-down {
  margin: 0px 0px 0px 7px;
}

.purchases .header__item-wrapper {
  padding: 18px 10px 29px 18px;
}

.purchases__dropdown {
  left: -144px;
  right: -1px;
}

.purchases__dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0px 0px 18px 0px;
}

.purchases__dropdown-img {
  width: 45px;
  height: 45px;
  border: 1px solid #E8E3E3;
  margin: 0px 11px 0px 0px;
}

.purchases__dropdown-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.purchases__dropdown-title {
  max-width: 167px;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #1F1714;
}

.purchases__dropdown-color {
  font-size: 12px;
  line-height: 1;
  color: #6B6B6B;
}

.purchases__dropdown-color span {
  color: #1F1714;
}

.purchases__dropdown-price {
  font-size: 13px;
  font-weight: 700;
  color: #1F1714;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-logout {
  font-size: 16px;
  color: #19191B;
  padding: 11px 5px 12px;
  background: #FFFFFF;
}

.btn-logout span {
  margin: 0px 22px 0px 0px;
}

.btn-logout .logout-icon {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icon {
  fill: #D38F6B;
}

.facebook-icon {
  width: 9px;
  height: 17px;
}

.youtube-icon {
  width: 19px;
  height: 13px;
}

.instagram-icon {
  width: 17px;
  height: 17px;
}

.arrow {
  width: 11px;
  height: 7px;
}

.arrow-right {
  width: 13px;
  height: 9px;
}

.user-icon {
  width: 14px;
  height: 17px;
}

.purchases-icon {
  width: 15px;
  height: 18px;
}

.lang {
  position: relative;
  cursor: pointer;
  margin: 0px 62px 0px 0px;
}

.lang__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 12px 14px #FAEBE9;
          box-shadow: 0px 12px 14px #FAEBE9;
  border-radius: 1px;
  padding: 11px 7px 13px 9px;
}

.lang__item.hide {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 1px solid #F1F1F1;
}

.lang__item img {
  width: 15px;
  height: 11px;
  margin: 0px 8px 0px 0px;
}

.lang__item span {
  font-size: 10px;
  font-weight: 700;
  margin: 0px 8px 0px 0px;
}

.arrow-down {
  width: 8px;
  height: 5px;
  fill: #AAA29F;
}

.logout-icon {
  width: 16px;
  height: 16px;
}

.btn-cart {
  font-size: 16px;
  color: #18191B;
  margin: 8px 0px 0px 0px;
  padding: 11px 10px;
}

.btn-cart span {
  margin: 0px 20px 0px 0px;
}

.btn-cart .arrow-right {
  width: 14px;
  height: 11px;
  position: absolute;
  top: 50%;
  right: 41px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

svg {
  width: 8px;
  height: 5px;
}

.nav__main {
  border-top: 1px solid #F9E8E6;
}

.nav .container {
  max-width: 1360px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav__list > li.active .nav__link-arrow {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav__list > li.active .nav__link {
  background-color: #FEFAFA;
  color: #FC4E4D;
}

.nav__list > li.active .nav__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list > li.active .arrow-right {
  fill: #FC4E4D;
}

.nav__list > li .nav__link-arrow {
  display: none;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.nav__list > li:not(:last-child) {
  margin: 0px 29px 0px 0px;
}

.nav__list .arrow-down,
.nav__list .arrow-right {
  display: none;
}

.nav__list .arrow-right {
  fill: #6D6D6D;
}

.nav__list .arrow-down {
  fill: #575757;
}

.nav__link {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  padding: 23px 20px;
}

.nav__link svg {
  margin: 0px 10px 0px 0px;
}

.nav__link::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 42px;
  background-color: #FC4E4D;
  left: 20px;
  bottom: 17px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.nav__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #fff;
  -webkit-box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.08);
  z-index: 10;
  padding: 31px 20px 0px 26px;
}

.nav__dropdown img {
  max-width: 286px;
  width: 100%;
  margin: 0px 36px 0px 0px;
}

.nav__dropdown-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0px 0px 50px 0px;
}

.nav__dropdown-list:not(:last-child) {
  margin: 0px 157px 0px 0px;
}

.nav__dropdown-list li:first-child {
  margin: 0px 0px 11px 0px;
}

.nav__dropdown-title {
  font-size: 25px;
  line-height: 37px;
  font-weight: 700;
  color: #37383C;
}

.nav__dropdown-title:hover {
  color: #FC4E4D;
}

.nav__dropdown-link {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 22px;
  color: #3B464B;
  padding: 4px 0;
}

.nav__dropdown-link::after {
  position: absolute;
  content: '';
  bottom: 7px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #FC4E4D;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.burger-close {
  display: none;
  position: absolute;
  top: 9px;
  right: 9px;
}

.burger-close__btn {
  width: 12px;
  height: 12px;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-works__slider .swiper-pagination-bullets .swiper-pagination-bullet,
.reviews-swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 20px;
}

.our-works__slider .swiper-pagination-bullets,
.reviews-swiper .swiper-pagination-bullets {
  bottom: 0;
}

.swiper-pagination-bullet {
  height: 9px;
  width: 9px;
  background-color: transparent;
  border: 1px solid #1F1714;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet:hover {
  background-color: #1F1714;
}

.top__main {
  padding: 0px 0px 23px 0px;
}

.main {
  background: -o-radial-gradient(85.08% 38.5%, 68.31% 188.29%, #FCF2F1 18.4%, #FDF3F2 58.85%, #FAF4F7 100%), #FCFAFB;
  background: radial-gradient(68.31% 188.29% at 85.08% 38.5%, #FCF2F1 18.4%, #FDF3F2 58.85%, #FAF4F7 100%), #FCFAFB;
  height: calc(100vh - 196px);
  min-height: calc(800px - 196px);
  overflow: hidden;
}

.main .container {
  height: 100%;
}

.main__inner {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__inner .scroll-down {
  position: absolute;
  left: -220px;
  bottom: 35%;
  font-family: Playfair, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #D38F6B;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: 0px 59px 0px 0px;
}

.main__inner .scroll-down::after {
  content: '';
  position: absolute;
  right: 0;
  top: 9px;
  width: 46px;
  height: 1px;
  background-color: #D38F6B;
}

.main__body {
  position: relative;
  z-index: 3;
}

.main__body .btn-red {
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 20px 17px 41px;
}

.main__body .btn-red .arrow-right-big {
  width: 24px;
  height: 8px;
  fill: #fff;
  margin: 0px 0px 0px 27px;
}

.main__suptitle {
  display: block;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0.31em;
  text-transform: uppercase;
  color: #D38F6B;
}

.main__title {
  max-width: 485px;
  width: 100%;
  font-family: Playfair, sans-serif;
  font-size: 58px;
  line-height: 69px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #1F1714;
  margin: 0px 0px 25px 0px;
}

.main__text {
  max-width: 610px;
  width: 100%;
  position: relative;
  font-size: 21px;
  font-weight: 300;
  line-height: 30px;
  color: #534B48;
  padding: 0px 0px 0px 61px;
  margin: 0px 0px 52px 0px;
}

.main__text::before {
  content: '';
  position: absolute;
  left: 12px;
  top: 14px;
  width: 35px;
  height: 1px;
  background-color: #1F1714;
}

.main__image {
  width: 55%;
  position: absolute;
  right: -72px;
  bottom: 0px;
  z-index: 2;
}

.main__image img {
  width: 100%;
  position: relative;
  z-index: 2;
  display: block;
}

.swiper-photoswipe {
  overflow: hidden;
  position: relative;
}

.most-popular {
  margin: 0px 0px 39px 0px;
}

.most-popular .section__title {
  margin: 0px 0px 55px 0px;
}

.slider .swiper-container1 {
  overflow: hidden;
}

.slider .container {
  max-width: 1466px;
}

.slider__inner {
  margin: 0 auto;
  padding: 0 70px;
  position: relative;
}

.slider__nav {
  margin: 30px 0px 47px 0px;
}

.slider__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E1E5F6;
  padding: 43px 25px 15px 27px;
}

.slider__nav-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.slider__nav-body h3 {
  font-size: 23px;
  margin: 0px 0px 12px 0px;
}

.slider__nav-body p {
  max-width: 145px;
  width: 100%;
  font-size: 15px;
  line-height: 22px;
  color: #7D808E;
  margin: 0px 0px 10px 0px;
}

.slider__nav-body a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 22px;
  color: #FC4E4D;
}

.slider__nav-body .arrow-right {
  margin: 0px 0px 0px 11px;
  fill: #FC4E4D;
}

.slider__nav-image {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  max-width: 170px;
  width: 100%;
}

.slider__nav-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: right bottom;
     object-position: right bottom;
}

.slider__btns .swipe-icon {
  width: 23px;
  height: 27px;
  margin: 0 6px;
  display: none;
}

.slider__btn {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0px 9px 39px #FAEBE9;
          box-shadow: 0px 9px 39px #FAEBE9;
}

.slider__btn::after {
  content: '';
}

.slider__btn:hover,
.slider__btn:focus {
  outline: none;
}

.slider__btn:hover .arrow-right,
.slider__btn:focus .arrow-right {
  fill: #FC4E4D;
}

.slider__btn .arrow-right {
  fill: #AAA29F;
}

.slider__btn.swiper-button-prev {
  left: 0px;
}

.slider__btn.swiper-button-prev .arrow-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider__btn.swiper-button-next {
  right: 0px;
}

.slider-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-card__row .btn-more {
  display: none;
  margin: 0 auto;
  padding: 10px 49px;
}

.slider-card__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 0px 52px 0px;
}

.slider-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.slider-card__item .swiper-container {
  width: 100%;
  padding: 0px 0px 36px 0px;
  margin: 0px 0px 18px 0px;
}

.slider-card__item .swiper-slide img {
  width: 100%;
}

.slider-card__title {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin: 0px 0px 12px 0px;
}

.slider-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-card__price-old {
  font-size: 15px;
  text-decoration: line-through;
  color: #575757;
  margin: 0px 5px 0px 0px;
}

.slider-card__price-new {
  font-size: 18px;
  font-weight: 700;
}

.slider-card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #000;
  padding: 10px 32px 12px 18px;
}

.slider-card__btn span {
  margin: 2px 0 0 18px;
  line-height: 1;
}

.slider-card__btn .purchases-icon {
  fill: #FC4E4D;
}

.slider-card__btn:hover {
  background-color: #FC4E4D;
  color: #fff;
}

.slider-card__btn:hover .purchases-icon {
  fill: #fff;
}

.slider-card .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-card .swiper-pagination-bullet {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3px;
  background: #EDEAEA;
  border-radius: 0;
  border: none;
}

.slider-card .swiper-pagination-bullet-active,
.slider-card .swiper-pagination-bullet:hover {
  background: #FC4E4D;
}

.our-works {
  margin: 0px 0px 43px 0px;
}

.our-works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.our-works .section__title {
  margin: 0px 0px 53px 0px;
}

.our-works__slider {
  overflow: hidden;
  position: relative;
  padding: 0px 0px 53px 0px;
}

.our-works__slider .slider__btns {
  display: none;
}

.our-works .swiper-slide img {
  width: 100%;
}

.our-works .swiper-pagination {
  display: block;
}

.our-works .btn-more {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 auto;
  padding: 18px 19px 18px 47px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}

.our-works .btn-more .arrow-right-big {
  width: 24px;
  height: 8px;
  margin: 0px 0px 0px 44px;
  fill: #fff;
}

.our-works__body {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 78, 77, 0.67)), to(rgba(252, 78, 77, 0.67)));
  background: -o-linear-gradient(bottom, rgba(252, 78, 77, 0.67), rgba(252, 78, 77, 0.67));
  background: linear-gradient(0deg, rgba(252, 78, 77, 0.67), rgba(252, 78, 77, 0.67));
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.our-works__icon {
  width: 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border-radius: 50%;
  margin: 0px 0px 18px 0px;
}

.our-works__icon .zoom-icon {
  width: 22px;
  height: 22px;
}

.our-works__text {
  font-family: Playfair, sans-serif;
  font-size: 21px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.reviews {
  background-color: #E1EFF6;
  padding: 40px 0px 57px 0px;
}

.reviews .section__title {
  margin: 0px 0px 51px 0px;
}

.reviews-swiper {
  overflow: hidden;
  position: relative;
  padding: 0px 0px 73px 0px;
}

.reviews__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.reviews__text {
  height: 240px;
  position: relative;
  font-size: 17px;
  line-height: 29px;
  color: #3B3F41;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  border: 12px solid #fff;
  padding: 20px 40px 22px 78px;
  margin: 0px 0px 15px 0px;
}

.reviews__text::before {
  content: '';
  position: absolute;
  bottom: -51px;
  left: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 51px 0 0;
  border-color: #fff transparent transparent transparent;
}

.reviews__text::after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 51px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 24px 0 0;
  border-color: #E1EFF6 transparent transparent transparent;
}

.reviews__text p {
  margin: 0px 0px 5px 0px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.reviews__text a {
  font-size: 16px;
  line-height: 22px;
  color: #FC4E4D;
}

.reviews__text .arrow-right {
  margin: 0px 0px 0px 8px;
  fill: #FC4E4D;
}

.reviews__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 100px;
}

.reviews__footer img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0px 22px 0px 0px;
}

.reviews__name {
  font-size: 21px;
  color: #000000;
  margin: 0px 15px 0px 0px;
  letter-spacing: 0.03em;
}

.reviews__date {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #72797C;
  padding: 0px 0px 0px 15px;
}

.reviews__date::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FC4E4D;
}

.reviews .slider__btns {
  display: none;
}

.reviews .swiper-pagination {
  display: block;
}

.about-us .section__title {
  margin: 0px 0px 25px 0px;
}

.about-us__inner {
  position: relative;
  padding: 50px 0px 69px 0px;
}

.about-us__inner p {
  max-width: 700px;
  width: 100%;
  font-size: 18px;
  line-height: 29px;
  color: #3B3F41;
  margin: 15px 0px 15px 0px;
}

.about-us__inner p:last-of-type {
  margin: 15px 0px 37px 0px;
}

.about-us__inner .btn-more {
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  padding: 17px 20px 17px 41px;
}

.about-us__inner .arrow-right-big {
  width: 23px;
  height: 11px;
  margin-left: 25px;
  fill: #fff;
}

.about-us__image {
  max-width: 464px;
  width: 100%;
  position: absolute;
  right: 71px;
  bottom: 0;
  top: -45px;
}

.about-us__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}

.text-section {
  color: #373A38;
  padding: 30px 0;
  background-color: #E1F6E8;
}

.text-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-section__inner li {
  position: relative;
  font-size: 14px;
  line-height: 25px;
  padding: 0px 7px 0px;
  margin: 0px 8px 0px 0px;
}

.text-section__inner li:last-of-type::after {
  display: none;
}

.text-section__inner li::after {
  content: '';
  position: absolute;
  right: -7px;
  width: 6px;
  height: 1px;
  background: #373A38;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  background-color: #1B1A19;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 37px 0 30px;
  margin: 0 -15px;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

.footer__columns-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #6D6D6D;
  margin: 0px 0px 10px 0px;
}

.footer__columns-title .arrow-down {
  display: none;
}

.footer__columns-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 425px;
          flex: 0 1 425px;
}

.footer__columns-form .footer__columns-title {
  margin: 0px 0px 10px 0px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__form input {
  max-width: 289px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.11);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  background-color: transparent;
  font-size: 13px;
  line-height: 41px;
  padding: 0px 10px;
  color: #fff;
  outline: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__form input:hover,
.footer__form input:focus {
  border: 1px solid #757575;
}

.footer__form input::-webkit-input-placeholder {
  font-size: 13px;
  color: #757575;
}

.footer__form input::-moz-placeholder {
  font-size: 13px;
  color: #757575;
}

.footer__form input:-ms-input-placeholder {
  font-size: 13px;
  color: #757575;
}

.footer__form input::-ms-input-placeholder {
  font-size: 13px;
  color: #757575;
}

.footer__form input::placeholder {
  font-size: 13px;
  color: #757575;
}

.footer__form button {
  font-family: Circe;
  background: #1B1A19;
  border: 1px solid rgba(255, 255, 255, 0.62);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1px;
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  line-height: 41px;
  padding: 0px 33px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.footer__form button:hover {
  background-color: #FC4E4D;
  border-color: none;
}

.footer__form-text {
  font-size: 14px;
  line-height: 20px;
  color: #DADADA;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__item.active .footer__columns-title {
  margin: 0px 0px 5px 0px;
}

.footer__item.active .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item.active .arrow-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list li {
  margin: 0px 0px 7px 0px;
}

.footer__link {
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer__link:hover {
  color: #FC4E4D;
}

.footer__social .social__link:not(:last-child) {
  margin: 0px 19px 0px 0px;
}

.footer__social .box {
  background-color: transparent;
}

.footer__social .box:hover {
  background: rgba(255, 255, 255, 0.12);
}

.footer__social .icon {
  fill: rgba(255, 255, 255, 0.5);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px 0px 15px 0px;
}

.copyright {
  background-color: #1B1A19;
}

.copyright .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 18px 15px;
}

.copyright__left {
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
}

.copyright__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__right a {
  font-size: 12px;
  line-height: 20px;
  color: #959595;
}

.copyright__right a:hover {
  color: #FC4E4D;
}

.copyright__right a + a {
  margin: 0px 0px 0px 27px;
}

@media screen and (min-width: 916px) {
  .box:hover {
    background-color: #fff;
  }

  .box:hover .facebook-icon {
    fill: #4267B2;
  }

  .box:hover .youtube-icon {
    fill: #FF0000;
  }

  .box:hover .instagram-icon {
    fill: url(#rg);
  }

  .btn-nobg:hover {
    background-color: #FC4E4D;
    color: #fff;
  }

  .btn-nobg:hover .logout-icon {
    fill: #fff;
  }

  .btn-nobg:hover .arrow-right {
    fill: #fff;
  }

  .header__item:hover .box {
    background-color: #fff;
  }

  .header__item:hover .purchases-icon,
  .header__item:hover .user-icon {
    fill: #FC4E4D;
  }

  .header__item:hover .header__item-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
  }

  .user__link:hover {
    color: #FC4E4D;
  }

  .user__link:hover .arrow-right {
    fill: #FC4E4D;
  }

  .lang:hover .hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__link:hover {
    color: #FC4E4D;
    background-color: #fff;
    -webkit-box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 17px 24px rgba(0, 0, 0, 0.08);
  }

  .nav__link:hover::before {
    opacity: 1;
  }

  .nav__dropdown-link:hover {
    color: #FC4E4D;
  }

  .nav__dropdown-link:hover::after {
    opacity: 1;
  }

  .our-works .swiper-slide:hover .our-works__body {
    opacity: 1;
  }
}

@media screen and (min-width: 917px) {
  .nav__list > li:hover .nav__dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1170px;
  }

  .header__logo {
    margin: 0px 0px 0px 0px;
  }

  .nav .container {
    max-width: 1190px;
  }

  .nav__list > li:not(:last-child) {
    margin: 0px 21px 0px 0px;
  }

  .nav__link {
    padding: 23px 15px;
  }

  .nav__link::before {
    left: 15px;
    width: 25px;
  }

  .nav__dropdown-list:not(:last-child) {
    margin: 0px 80px 0px 0px;
  }

  .slider-card__btn {
    padding: 10px 20px;
  }

  .slider-card__btn span {
    margin: 2px 0px 0px 15px;
  }

  .about-us__inner p {
    max-width: 650px;
  }

  .about-us__image {
    right: 0px;
  }

  .footer__columns-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 345px;
            flex: 0 1 345px;
  }

  .footer__form input {
    max-width: 197px;
    line-height: 33px;
  }

  .footer__form button {
    line-height: 33px;
    padding: 0px 22px;
  }
}

@media screen and (max-width: 1204px) {
  .container {
    max-width: 997px;
  }

  .header__item:not(:first-child) {
    margin: 0px 0px 0px 19px;
  }

  .lang {
    margin: 0px 19px 0px 0px;
  }

  .nav .container {
    max-width: 1027px;
  }

  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav__list > li:not(:last-child) {
    margin: 0px 13px 0px 0px;
  }

  .nav__link {
    padding: 23px 10px;
  }

  .nav__dropdown {
    padding: 31px 20px 0px 0px;
  }

  .nav__dropdown img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }

  .nav__dropdown-list:not(:last-child) {
    margin: 0px 50px 0px 0px;
  }

  .main__text {
    max-width: 530px;
  }

  .slider-card__columns {
    width: 33%;
  }

  .slider-card__columns:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .about-us__inner p {
    max-width: 550px;
  }

  .about-us__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 1065px) {
  .slider__nav-item {
    max-width: 300px;
  }
}

@media screen and (max-width: 1033px) {
  .container {
    max-width: 890px;
  }

  .nav .container {
    max-width: 920px;
  }

  .nav__list > li:not(:last-child) {
    margin: 0;
  }

  .reviews__text {
    padding: 20px 40px;
  }

  .reviews__footer-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-us__image {
    max-width: 280px;
  }
}

@media screen and (max-width: 916px) {
  .section__title {
    font-size: 25px;
  }

  .header {
    position: relative;
  }

  .header__left {
    margin: 0px 0px 23px 0px;
    padding: 0 15px;
  }

  .header__logo {
    width: 100px;
  }

  .header__social .social__link:not(:last-child) {
    margin: 0px 6px 0px 0px;
  }

  .header__social .box {
    width: 34px;
    height: 34px;
  }

  .header__item:not(:first-child) {
    margin: 0px 0px 17px 0px;
  }

  .header__item .box {
    margin: 0;
  }

  .header__item-wrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .header__nav-inner {
    position: absolute;
    left: 0;
    top: 0px;
    min-height: 100vh;
    width: 305px;
    background-color: #fff;
    z-index: 50;
    padding: 15px 0px 15px 0px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .header__nav-inner.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .user {
    padding: 0 15px;
  }

  .user .box {
    margin: 0px 15px 0px 0px;
  }

  .user.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .user.active .arrow-down {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .user.active .header__item-dropdown {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-animation: none;
            animation: none;
  }

  .user.active .header__item-wrapper {
    padding: 0;
  }

  .purchases__body {
    display: none;
  }

  .facebook-icon {
    width: 7px;
    height: 13px;
  }

  .youtube-icon {
    width: 15px;
    height: 10px;
  }

  .instagram-icon {
    width: 13px;
    height: 13px;
  }

  .lang {
    margin: 0px 10px 0px 0px;
  }

  .lang__item {
    padding: 7.5px;
  }

  .lang__item .arrow-down {
    display: none;
  }

  .lang__item span {
    margin: 0;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border-top: 1px solid #EBEBEB;
  }

  .nav__list > li .nav__link-arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 49px;
  }

  .nav__list > li {
    width: 100%;
    position: relative;
  }

  .nav__list .arrow-down,
  .nav__list .arrow-right {
    display: inline;
  }

  .nav__link {
    width: 100%;
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid #EBEBEB;
  }

  .nav__dropdown {
    position: relative;
    padding: 3px 0 0 48px;
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .nav__dropdown img {
    display: none;
  }

  .nav__dropdown-body {
    padding: 0px 0px 5px 0px;
  }

  .nav__dropdown-list:not(:first-child) {
    display: none;
  }

  .nav__dropdown-title {
    display: none;
  }

  .nav__dropdown-link {
    font-size: 14px;
  }

  .burger-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slider__inner {
    padding: 0;
  }

  .slider__nav {
    margin: 25px 0px 24px 0px;
  }

  .slider__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 13px 0px 0px 0px;
  }

  .slider__btns .swipe-icon {
    display: block;
  }

  .slider__btn {
    position: static;
    margin: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .slider__btn .arrow-right {
    fill: #000;
    width: 17px;
    height: 10px;
  }

  .slider-card__columns {
    width: 50%;
    margin: 0px 0px 34px 0px;
  }

  .slider-card__item .swiper-container {
    padding: 0px 0px 27px 0px;
    margin: 0px 0px 10px 0px;
  }

  .our-works__slider .slider__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .our-works .swiper-pagination {
    display: none;
  }

  .our-works .btn-more {
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 49px;
  }

  .our-works .btn-more .arrow-right-big {
    display: none;
  }

  .reviews .slider__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .reviews .swiper-pagination {
    display: none;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 0 50px;
  }

  .footer__columns-title {
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
  }

  .footer__columns-title .arrow-down {
    display: inline-block;
    margin: 0px 0px 1px 0px;
  }

  .footer__columns-form {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    margin: 0px 0px 27px 0px;
  }

  .footer__form-text {
    font-size: 13px;
  }

  .footer__list {
    display: none;
    margin: 0px 0px 17px 0px;
  }

  .form {
    margin: 0px 0px 7px 0px;
  }
}

@media screen and (max-width: 860px) {
  .about-us__inner p {
    max-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .our-works .section__title {
    margin: 0px 0px 21px 0px;
  }

  .our-works__slider {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
  }

  .our-works .swiper-slide {
    max-width: 228px;
  }

  .reviews {
    padding: 23px 0px 34px 0px;
  }

  .reviews-swiper {
    padding: 0;
  }

  .reviews__text {
    height: auto;
    padding: 49px 28px 22px 28px;
    font-size: 15px;
    line-height: 25px;
    margin: 0px 0px 22px 0px;
  }

  .reviews__text::before {
    left: 10px;
  }

  .reviews__text::after {
    left: 21px;
  }

  .reviews__text p {
    -webkit-line-clamp: 12;
  }

  .reviews__footer {
    padding: 0px 0px 0px 50px;
  }

  .reviews__footer img {
    margin: 0px 12px 0px 0px;
  }

  .reviews__footer-text {
    margin: 6px 0px 0px 0px;
  }

  .reviews__name {
    font-size: 18px;
    margin: 0;
  }

  .reviews__date {
    padding: 0;
  }

  .reviews__date::after {
    display: none;
  }

  .about-us {
    position: relative;
    overflow: hidden;
  }

  .about-us .section__title {
    margin: 0px 0px 20px 0px;
  }

  .about-us__inner {
    position: static;
    padding: 29px 0px 69px 0px;
  }

  .about-us__inner p {
    max-width: 550px;
    font-size: 15px;
    line-height: 25px;
    margin: 15px 0px 10px 0px;
  }

  .about-us__inner p:last-of-type {
    margin: 10px 0px 37px 0px;
  }

  .about-us__inner .btn-more {
    font-size: 10px;
    padding: 10px 20px 10px 28px;
  }

  .about-us__inner .arrow-right-big {
    width: 17px;
    height: 9px;
    margin-left: 15px;
  }

  .about-us__image {
    max-width: 182px;
    bottom: -60px;
    right: -50px;
  }

  .copyright .container {
    border: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .copyright__left {
    font-size: 11px;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 0px 0px 0px;
  }

  .copyright__right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: 0px 0px 3px 0px;
  }
}

@media screen and (max-width: 650px) {
  .main__inner {
    height: initial;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px 0px 0px 0px;
  }

  .main__body .btn-red {
    padding: 10px 14px 10px 29px;
    font-size: 10px;
  }

  .main__body .btn-red .arrow-right-big {
    width: 19px;
    margin: 0px 0px 0px 15px;
  }

  .main__suptitle {
    font-size: 10px;
  }

  .main__title {
    max-width: 245px;
    font-size: 28px;
    line-height: 35px;
    margin: 0px 0px 12px 0px;
  }

  .main__text {
    max-width: 197px;
    font-size: 15px;
    line-height: 22px;
    padding: 0px 0px 0px 30px;
  }

  .main__text::before {
    width: 23px;
    left: 0;
    top: 10px;
  }

  .main__image {
    width: 70%;
    right: -127px;
    bottom: -30px;
  }
}

@media screen and (max-width: 600px) {
  .slider__nav-item {
    padding: 29px 25px 12px 19px;
  }

  .slider__nav-body h3 {
    font-size: 20px;
    margin: 0px 0px 7px 0px;
  }

  .slider__nav-body p {
    font-size: 14px;
    line-height: 19px;
    margin: 0px 0px 3px 0px;
  }

  .slider__nav-image {
    width: 121px;
  }
}

@media screen and (max-width: 575px) {
  .section__title .section__line {
    width: 55px;
  }

  .slider-card__row .btn-more {
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .slider-card__columns {
    width: 100%;
  }

  .slider-card__columns:last-of-type {
    margin: 0px 0px 27px 0px;
  }

  .reviews .section__title {
    margin: 0px 0px 23px 0px;
  }

  .reviews .section__title .section__line {
    margin: 6px 0 0 15px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    min-height: initial;
    height: initial;
  }

  .main__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0px 55px 0px;
  }

  .main__body .btn-red {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .main__image {
    width: 320px;
  }
}

@media screen and (max-width: 124px) {
  .footer__social .social__link:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
}